<div class="card box-shadow" id="students-list">
  <div class="card-header">
    <span>Fee Types</span>
    <!-- <span style="float: right;" (click)="isFilterExpanded = !isFilterExpanded">
      <a>
        <i class="fa fa-chevron-circle-down" style="color: rgb(23, 162, 184); cursor: pointer;"
          *ngIf="!isFilterExpanded"></i>
        <i class="fa fa-chevron-circle-up" style="color: rgb(23, 162, 184); cursor: pointer;"
          *ngIf="isFilterExpanded"></i>
      </a>
    </span> -->
    <!-- <div class="container row m-2" *ngIf="isFilterExpanded">
      <div class="col-md-2">
        <div class="input-group-sm">
          <label for="usr">Address</label>
          <input class="form-control custom-input-style" list="academic-years" placeholder="Enter Address"
          [(ngModel)]="filteredData.address" (keydown)="filterStudentsOnAddressChange()">
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group-sm">
          <label for="usr">Class</label>
          <input class="form-control custom-input-style" list="classes-list" placeholder="Select Classes list"
          [(ngModel)]="filteredData.classId">
          <datalist id="classes-list">
            <option *ngFor="let classDet of classesList" value="{{classDet.classId}}">
          </datalist>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group-sm">
          <label for="usr">Transport Opted</label>
          <input class="form-control custom-input-style" list="results" placeholder="Select Transport Opted"
          [(ngModel)]="filteredData.transportOpted">
          <datalist id="results">
            <option value="YES">
            <option value="NO">
          </datalist>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group-sm">
          <label for="usr">Gender</label>
          <input class="form-control custom-input-style" list="gender" placeholder="Select Gender"
          [(ngModel)]="filteredData.gender">
          <datalist id="gender">
            <option value="Male">
            <option value="Female">
            <option value="Other">
          </datalist>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group-sm">
          <label for="usr">Caste</label>
          <input class="form-control custom-input-style" list="caste" placeholder="Select Caste"
          [(ngModel)]="filteredData.caste">
          <datalist id="caste">
            <option value="Open">
            <option value="OBC">
            <option value="NT-A">
            <option value="NT-B">
            <option value="NT-C">
            <option value="NT-D">
            <option value="SC">
            <option value="ST">
          </datalist>
        </div>
      </div>
      <div class="col-md-2" style="padding-top: 27px;">
        <button class="btn btn-outline-primary btn-sm mx-1" (click)="applyFilter()">Apply</button>
        <button class="btn btn-outline-primary btn-sm mx-1" (click)="clearFilter()">Clear</button>
      </div>
    </div> -->
  </div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Fee Id</th>
          <th>Fee Type</th>
          <th>Description</th>
          <th>Action</th>
          <!-- <th>Adhar Number</th>
          <th>Gender</th>
          <th>Caste</th>
          <th>Class</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Transport</th>
           -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feeType of feeTypes let i = index">
          <td>{{i+1}}</td>
          <td>{{feeType.feeId}}</td>
          <td>{{feeType.feeName}}</td>
          <td>{{feeType.feeDiscription.length==0?"N/A":feeType.feeDiscription}}</td>
          <!-- <td>{{student.adharNumber}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.caste}}</td>
          <td>{{student.studentClassDetails[currentAcademicId][0].classId}}</td>
          <td>{{student.mobileNumber}}</td>
          <td>{{student.address}}</td>
          <td>{{student.transportOpted==true ? "Yes" : "No"}}</td> -->
          <td>
            <a class="mx-1" (click)="editStudentDetails(student)"><i class="fa fa-edit"
                style="color: rgb(23, 162, 184); cursor: pointer;"></i></a>
            <a class="mx-1" (click)="editStudentDetails(student)"><i class="fa fa-cog"
                  style="color: rgb(23, 162, 184); cursor: pointer;"></i></a>
            <a class="mx-1" (click)="editStudentDetails(student)"><i class="fa fa-trash"
                    style="color: rgb(23, 162, 184); cursor: pointer;"></i></a>
          </td>
        </tr>
        <tr class="text-danger" *ngIf="feeTypes.length==0">No Record Found</tr>
      </tbody>
    </table>

    <div class="row container ">
      <button class="btn btn-outline-primary btn-sm mx-1" (click)="editFeeType(undefined)">Add New</button>
      <!-- <button class="btn btn-outline-primary btn-sm mx-1" data-toggle="modal" data-target="#exampleModal">Print</button>
      <button class="btn btn-outline-primary btn-sm mx-1">Export</button> -->
      <!-- <button class="btn btn-outline-primary btn-sm mx-1">Delete</button> -->
    </div>


  </div>
</div>