<div class="card box-shadow" id="students-list">
  <div class="card-header">
    <span>Fee Types</span>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Fee Id</th>
          <th>Fee Type</th>
          <th>Description</th>
          <th>Action</th>
          <!-- <th>Adhar Number</th>
          <th>Gender</th>
          <th>Caste</th>
          <th>Class</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Transport</th>
           -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feeType of feeTypes let i = index">
          <td>{{i+1}}</td>
          <td>{{feeType.feeId}}</td>
          <td>{{feeType.feeName}}</td>
          <td>{{feeType.feeDiscription.length==0?"N/A":feeType.feeDiscription}}</td>
          <!-- <td>{{student.adharNumber}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.caste}}</td>
          <td>{{student.studentClassDetails[currentAcademicId][0].classId}}</td>
          <td>{{student.mobileNumber}}</td>
          <td>{{student.address}}</td>
          <td>{{student.transportOpted==true ? "Yes" : "No"}}</td> -->
          <td>
            <a class="mx-1"><i class="fa fa-edit"
                style="color: rgb(23, 162, 184); cursor: pointer;"></i></a>
            <a class="mx-1" (click)="configureDetails(feeType)"><i class="fa fa-cog"
                  style="color: rgb(23, 162, 184); cursor: pointer;"></i></a>
            <a class="mx-1"><i class="fa fa-trash"
                    style="color: rgb(23, 162, 184); cursor: pointer;"></i></a>
          </td>
        </tr>
        <tr class="text-danger" *ngIf="feeTypes.length==0">No Record Found</tr>
      </tbody>
    </table>

    <div class="row container ">
      <button class="btn btn-outline-primary btn-sm mx-1" (click)="editFeeType(undefined)">Add New</button>
      <!-- <button class="btn btn-outline-primary btn-sm mx-1">Fee Details</button> -->
      <!--<button class="btn btn-outline-primary btn-sm mx-1">Export</button> -->
      <!-- <button class="btn btn-outline-primary btn-sm mx-1">Delete</button> -->
    </div>


  </div>
</div>