<div class="card box-shadow">
  <div class="card-header">
    New User Registration
    <p style="color: red;">(Fields with <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i> are required) </p>
  </div>
  <!-- style="height: 600px; overflow-y: scroll;" -->
  <div class="card-body">
    <!-- Basic Details Crad starts -->
    <div class="card box-shadow">
      <div class="card-header">
        Basic Details
      </div>
      <div class="card-body">
        <div class="row container" style="padding:2%;">
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                First Name <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['firstName']">(First Name can not be empty)</small>
              </label>
              <input type="text" class="form-control custom-input-style" placeholder="First Name"
                [(ngModel)]="user.firstName" (change)="validateField('firstName',user.firstName)">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">Middle Name</label>
              <input type="text" class="form-control custom-input-style" placeholder="Middle Name"
                [(ngModel)]="user.middleName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Last Name <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['lastName']">(Last Name can not be empty)</small>
              </label>
              <input type="text" class="form-control custom-input-style" placeholder="Last Name"
                [(ngModel)]="user.lastName" (change)="validateField('lastName',user.lastName)">
            </div>
          </div>
        </div>

        <div class="row container" style="padding:2%;">
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Adhar Number 
                <!-- <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i> -->
                <!-- <small style="color: red; font-size: smaller;">(First Name can not be empty)</small> -->
              </label>
              <input type="text" class="form-control custom-input-style" placeholder="Adhar Number"
                [(ngModel)]="user.adhar">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Date of Birth <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['birthDate']">(Date of Birth can not be empty)</small>
              </label>
              <input type="date" class="form-control custom-input-style" id="usr"
                [ngModel]="user.birthDate | date:'yyyy-MM-dd'" (ngModelChange)="user.birthDate = $event">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Gender <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['gender']">(Gender can not be empty)</small>
              </label><br>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" value="Male"
                    [(ngModel)]="user.gender">Male
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" value="Female"
                    [(ngModel)]="user.gender">Female
                </label>
              </div>
              <div class="form-check-inline disabled">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="gender" value="Other"
                    [(ngModel)]="user.gender">Other
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row container" style="padding:2%;">
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Marital Status
                <!-- <small style="color: red; font-size: smaller;" *ngIf="validationFlags['gender']">(Gender can not be empty)</small> -->
              </label><br>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="marital-status" value="Married"
                    [(ngModel)]="user.maritalStatus">Married
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="marital-status" value="Un-married"
                    [(ngModel)]="user.maritalStatus">Un-married
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Religion <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['religion']">(Religion can not be empty)</small>
              </label>
              <input class="form-control custom-input-style" list="religion" placeholder="Select Religion"
                [(ngModel)]="user.religion" (change)="validateField('religion',user.religion)">
              <datalist id="religion">
                <option value="Hindu">
                <option value="Muslim">
                <option value="Christian">
              </datalist>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Caste <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['caste']">(Caste can not be empty)</small>
              </label>
              <input class="form-control custom-input-style" list="caste" placeholder="Select Caste"
                [(ngModel)]="user.caste" (change)="validateField('caste',user.caste)">
              <datalist id="caste">
                <option value="Open">
                <option value="OBC">
                <option value="NT-A">
                <option value="NT-B">
                <option value="NT-C">
                <option value="NT-D">
                <option value="SC">
                <option value="ST">
              </datalist>
            </div>
          </div>
        </div>

        <div class="row container" style="padding:2%;">
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Nationality <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['nationality']">(Nationality can not be empty)</small>
              </label>
              <input class="form-control custom-input-style" list="nationality" placeholder="Select Nationality"
                [(ngModel)]="user.nationality" (change)="validateField('nationality',user.nationality)">
              <datalist id="nationality">
                <option value="Indian">
              </datalist>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Basic Details card ends -->

    <!-- Contact Detaails starts -->
    <div class="card box-shadow">
      <div class="card-header">Contact Details</div>
      <div class="card-body">
        <div class="row container" style="padding:2%;">
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Mobile Number <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['mobileNumber']">(Mobile Number can not be empty)</small>
                <small style="color: red; font-size: x-small;" *ngIf="validationFlags['mobileNumberValidity']">(Please Enter a Valid mobile number)</small>
              </label>
              <input type="text" class="form-control custom-input-style" placeholder="Mobile Number"
                [(ngModel)]="user.mobile" (change)="validateField('mobileNumber', user.mobile)">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">Alternate Mobile Number</label>
              <input type="text" class="form-control custom-input-style" placeholder="Alternate Mobile Number"
                [(ngModel)]="user.alternateMobile">
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">Email Id</label>
              <input type="text" class="form-control custom-input-style" placeholder="Email Id"
                [(ngModel)]="user.email">
            </div>
          </div>
        </div>

        <div class="row container" style="padding:2%;">
          <div class="col-md-4">
            <div class="input-group-sm">
              <label for="usr">
                Address <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
                <small style="color: red; font-size: smaller;" *ngIf="validationFlags['address']">(Address can not be empty)</small>
              </label>
              <textarea class="form-control" style="border: 1px solid rgb(23, 162, 184);" placeholder="Address" rows="3"
                [(ngModel)]="user.address" (change)="validateField('address',user.address)"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Details Ends -->
    <div class="row container card-body">
      <button class="btn btn-outline-primary btn-sm" style="margin-right: 5px;"
        (click)="saveDetails(user)">Save</button>
    </div>
  </div>
</div>