<div class="card box-shadow">
  <div class="card-header">
    <span>{{fullName}} : {{userId}}</span>
    <span style="float: right;"><img src="../../assets/images/profile.jpg" style="width: 50px; height: 50px; border-radius: 50%;"></span>
  </div>
  <!-- style="height: 600px; overflow-y: scroll;" -->
  <div class="card-body">
    
    <!-- Tabs starting here -->
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="loadUserDetails('BASIC')">
        <a class="nav-link" [ngClass]="selectedTab==='BASIC' ? 'active' : '' ">Basic Details</a>
      </li>
      <li class="nav-item" (click)="loadUserDetails('ACADEMIC')">
        <a class="nav-link" [ngClass]="selectedTab==='ACADEMIC' ? 'active' : '' ">Academic Details</a>
      </li>
      <li class="nav-item" (click)="loadUserDetails('MANAGER')">
        <a class="nav-link" [ngClass]="selectedTab==='MANAGER' ? 'active' : '' ">Manager Details</a>
      </li>
      <li class="nav-item" (click)="loadUserDetails('SALARY')">
        <a class="nav-link" [ngClass]="selectedTab==='SALARY' ? 'active' : '' ">Salary Details</a>
      </li>
      <li class="nav-item" (click)="loadUserDetails('ROLE')">
        <a class="nav-link" [ngClass]="selectedTab==='ROLE' ? 'active' : '' ">Roles Details</a>
      </li>
    </ul>
    <!-- Tabs Ends Here -->
    
    <!-- <div class="card box-shadow">
      <div class="card-body"> -->
        <router-outlet></router-outlet>
      <!-- </div>
    </div> -->
  </div>
</div>
