.custom-nav-icons{
    font-size:22px;
  }
.custom-side-nav{
    width: 100% ; 
    border-right: 1px solid rgb(204, 204, 204);
    margin-left: -10px;
    height: 630px;
  }
.custom-right-dropdown{
margin-left: 50%; 
position:absolute;
z-index: 100;
background-color: white;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
width: 150%;
}
custom-right-dropdown-content{
font-size: 25px;
}