<div class="container row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin-dashboard">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/fee-types">Fee Types</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{feeName}}</li>
    </ol>
  </nav>
</div>
<div class="row container" style="padding:2%;">
  <div class="col-md-2">
    <div class="input-group-sm">
      <input class="form-control form-control-sm" list="aplicabilty" placeholder="Applicability"
        [(ngModel)]="newFeeDetails['applicableTo']" (change)="populateApplicableValueList()">  
      <datalist id="aplicabilty">
        <option value="All">
        <option value="Classes">
        <option value="Routes">
      </datalist>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group-sm">
      <input class="form-control form-control-sm" list="applicable-value" placeholder="Value"
        [(ngModel)]="newFeeDetails['applicableValue']" (change)="handleDataValidationFlag('applicableValue',newFeeDetails['applicableValue'])">
      <datalist id="applicable-value">
        <option *ngFor="let value of applicableValues" value="{{value}}">
      </datalist>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group-sm">
      <input type="number" class="form-control form-control-sm" placeholder="Fee Amount"
        [(ngModel)]="newFeeDetails['amount']" (change)="handleDataValidationFlag('amount',newFeeDetails['amount'])">
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-outline-primary btn-sm" style="color: rgba(62, 78, 107, 1);" (click)="addNewFeeDetailsRecord()">Add Record</button>
  </div>
</div>
<div class="card box-shadow" id="students-list">
  <div class="table-responsive">
    <table class="table table-bordered table-sm border-primary" style="color: rgba(62, 78, 107, 1);">
      <thead style="background-color: rgba(245,245,245,1);">
        <tr>
          <th>#</th>
          <th>Applicability</th>
          <th>Value</th>
          <th>Amount</th>
          <th>Eff Date</th>
          <th>End Date</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feeDetail of feeDetails let i = index">
          <td>{{i+1}}</td>
          <td>
            {{
              (feeDetail.classId===" " && feeDetail.routeId===" ") ? "All" : (feeDetail.classId===" " ? "Routes" : "Classes")
            }}
          </td>
          <td>
            {{
              (feeDetail.classId===" " && feeDetail.routeId===" ") ? "All" : (feeDetail.classId===" " ? feeDetail.routeId : feeDetail.classId)
            }}
          </td>
          <td>{{feeDetail.amount}}</td>
          <td>{{feeDetail.effDate | date : "yyyy-MM-dd"}}</td>
          <td>{{feeDetail.endDate | date : "yyyy-MM-dd"}}</td>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
            class="bi bi-pencil-square mx-1 text-primary" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </td>
        </tr>
        <tr class="text-danger" *ngIf="feeDetails.length==0">No Record Found</tr>
      </tbody>
    </table>
  </div>
</div>
