<nav id="topNav" class="navbar navbar-light custom-top-nav navbar-expand-lg">
	<a class="navbar-brand" style="color: rgba(45,63,94,1);">
		<svg (click)="toggleSideNav()" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
		</svg>
		<!-- <svg *ngIf = '!this.commonService.getSideNavExpanded()' (click)="toggleSideNav()" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
		</svg> -->
		Smart Schooling
		
	</a>
	<button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
	aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span style="color: rgba(45,63,94,1);" class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isUserLoggedIn">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
				aria-expanded="false" style="color: rgba(45,63,94,1);">
					Academic Year
				</a>
				<ul class="dropdown-menu box-shadow" aria-labelledby="navbarDropdown" style="padding: 5px; font-size: 12px;">
				<li><a class="dropdown-item" style="margin: 5px; color: rgba(45,63,94,1);">Current Academic Year</a></li>
				<li><a class="dropdown-item" routerLink = "/academic/details" style="margin: 5px; color: rgba(45,63,94,1);">Academic Year List</a></li>
				<li><a class="dropdown-item" style="margin: 5px; color: rgba(45,63,94,1);">Add New Academic Year</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
				aria-expanded="false" style="color: rgba(45,63,94,1);">
					Fee Details
				</a>
				<ul class="dropdown-menu box-shadow" aria-labelledby="navbarDropdown" style="padding: 5px; font-size: 12px;">
				<li><a class="dropdown-item" routerLink = "/fee-types" style="margin: 5px; color: rgba(45,63,94,1);">Fee Types</a></li>
				<li><a class="dropdown-item" routerLink = "/fee-types/new-type/-1" style="margin: 5px; color: rgba(45,63,94,1);">Add Fee Type</a></li>
				<li><a class="dropdown-item" style="margin: 5px; color: rgba(45,63,94,1);">Assign new Fee</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
				aria-expanded="false" style="color: rgba(45,63,94,1);">
					Class Details
				</a>
				<ul class="dropdown-menu box-shadow" aria-labelledby="navbarDropdown" style="padding: 5px; font-size: 12px;">
				<li><a class="dropdown-item" routerLink="/classes" style="margin: 5px; color: rgba(45,63,94,1);">Classes</a></li>
				<li><a class="dropdown-item" routerLink="/subjects" style="margin: 5px; color: rgba(45,63,94,1);">Subjects</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
				aria-expanded="false" style="color: rgba(45,63,94,1);">
					Transport Details
				</a>
				<ul class="dropdown-menu box-shadow" aria-labelledby="navbarDropdown" style="padding: 5px; font-size: 12px;">
					<li><a class="dropdown-item" routerLink="/routes" style="margin: 5px; color: rgba(45,63,94,1);">Routes</a></li>
					<li><a class="dropdown-item" style="margin: 5px; color: rgba(45,63,94,1);">New Route</a></li>
				</ul>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" *ngIf="isUserLoggedIn">
			<a class="mx-1 mr-3" style="color: rgba(45,63,94,1);">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-bell" viewBox="0 0 16 16">
					<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
				</svg>
			</a>
			<a class="mx-1 mr-3" id="profileDropDown" role="button" 
			data-bs-toggle="dropdown" style="color: rgba(45,63,94,1);">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
					<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
				</svg>
			</a>
			<div class="dropdown-menu" style="margin-left: 88%; font-size: 12px;" aria-labelledby="profileDropDown">
				<a class="dropdown-item" href="#">Profile</a>
				<a class="dropdown-item" href="#">Settings</a>
				<a class="dropdown-item" (click)="doUserSignOut()">Sign Out</a>
			</div>
		</form>
	</div>
</nav>