<div class="container row my-4">
  <div class="col-md-4 offset-3">
    <div class="card box-shadow" id="students-list">
      <div class="card-header">
        <span>User Login</span>
      </div>
      <div class="card-body">
        <div class="input-group-sm">
          <label for="usr">
            Username
          </label>
          <input type="text" class="form-control custom-input-style" placeholder="Username" 
          [(ngModel)]="loginRequest.username">
        </div>

        <div class="input-group-sm my-3">
          <label for="usr">
            Password
          </label>
          <input type="password" class="form-control custom-input-style" placeholder="Password" 
          [(ngModel)]="loginRequest.password">
        </div>

        <div class="input-group-sm my-3">
          <button class="btn btn-primary" (click)="doUserLogin()">Login</button><br>
          <p><small><a routerLink="">Forgot Password?</a></small></p>
        </div>
      </div>
    </div>
  </div>
</div>