<div class="container row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin-dashboard">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/fees-receivables">Receivables</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{studentName}}</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-2 offset-md-4" style="font-size: smaller;">
    <button class="btn btn-primary btn-sm" style="width: -webkit-fill-available;">Total : {{studentFeeReceivables.totalFeeAmnt}}</button>
  </div>
  <div class="col-md-2" style="font-size: smaller;">
    <button class="btn btn-success btn-sm" style="width: -webkit-fill-available;">Paid : {{studentFeeReceivables.totalPaidAmnt}}</button>
  </div>
  <div class="col-md-2" style="font-size: smaller;">
    <button class="btn btn-warning btn-sm" style="width: -webkit-fill-available; color: white;">Due : {{studentFeeReceivables.totalDueAmnt}}</button>
  </div>
  <div class="col-md-2" style="font-size: smaller;">
    <button class="btn btn-outline-primary btn-sm" style="width: -webkit-fill-available; color: rgba(62, 78, 107, 1);" (click)="addNewPayment()">New Payment</button>
  </div>
</div><br>
<div class="card box-shadow" id="students-list">
  <div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" style="background-color: rgba(245,245,245,1); color: rgba(62, 78, 107, 1);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Fees Due Amount
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">
            <table class="table table-bordered table-sm border-primary" style="color: rgba(62, 78, 107, 1);">
              <thead class="thead-light" style="background-color: rgba(245,245,245,1);">
                <tr>
                  <th>#</th>
                  <th>Academic Year</th>
                  <th>Fee Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let feeDueDetailsDto of studentFeeReceivables['feesDueDetails'] let i = index">
                  <td>{{i+1}}</td>
                  <td>{{feeDueDetailsDto.academicYear}}</td>
                  <td>{{feeDueDetailsDto.feeName}}</td>
                  <td>{{feeDueDetailsDto.amount | currency : 'INR'}}</td>
                </tr>
                <tr class="text-danger" *ngIf="studentFeeReceivables['feesDueDetails'].length==0">No Record Found</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" style="background-color: rgba(245,245,245,1); color: rgba(62, 78, 107, 1);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Fees Assinged
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
          <div class="accordion-body">
            <table class="table table-bordered table-sm border-primary" style="color: rgba(62, 78, 107, 1);">
              <thead class="thead-light" style="background-color: rgba(245,245,245,1);">
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Academic Year</th>
                  <th>Fee Type</th>
                  <th>Amount</th>
                  <th>Assigned By</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let feeAssignedDetailsDto of studentFeeReceivables['feesAssignedDetails'] let i = index">
                  <td>{{i+1}}</td>
                  <td>{{feeAssignedDetailsDto.assignedDate | date : 'dd-MM-yyyy'}}</td>
                  <td>{{feeAssignedDetailsDto.academicYear}}</td>
                  <td>{{feeAssignedDetailsDto.feeName}}</td>
                  <td>{{feeAssignedDetailsDto.amount | currency : 'INR'}}</td>
                  <td>{{feeAssignedDetailsDto.assignedBy}}</td>
                </tr>
                <tr class="text-danger" *ngIf="studentFeeReceivables['feesAssignedDetails'].length==0">No Record Found</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" style="background-color: rgba(245,245,245,1); color: rgba(62, 78, 107, 1);" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Payment Transactions
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
          <div class="accordion-body">
            <table class="table table-bordered table-sm border-primary" style="color: rgba(62, 78, 107, 1);">
              <thead class="thead-light" style="background-color: rgba(245,245,245,1);">
                <tr>
                  <th>#</th>
                  <th>Transaction Id</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Account</th>
                  <th>Received By</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let feePaidDetailsDto of studentFeeReceivables['feesPaidDetails'] let i = index">
                  <td>{{i+1}}</td>
                  <td>{{feePaidDetailsDto.transactionId}}</td>
                  <td>{{feePaidDetailsDto.receivedDate | date : 'dd-MM-yyyy'}}</td>
                  <td>{{feePaidDetailsDto.amount | currency : 'INR'}}</td>
                  <td>{{feePaidDetailsDto.accountName}}</td>
                  <td>{{feePaidDetailsDto.receivedBy}}</td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#txnDetailsModal" (click)="viewTransactionDetails(feePaidDetailsDto)" fill="currentColor"  width="16" height="16" 
                    class="bi bi-eye text-primary mx-1" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer text-secondary mx-1" viewBox="0 0 16 16">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg>
                  </td>
                </tr>
                <tr class="text-danger" *ngIf="studentFeeReceivables['feesPaidDetails'].length==0">No Record Found</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin:2% 0%;">
    <button class="btn btn-outline-primary btn-sm mx-1" style="color: rgba(62, 78, 107, 1);" data-toggle="modal" data-target="#exampleModal">Print</button>
    <button class="btn btn-outline-primary btn-sm mx-1" style="color: rgba(62, 78, 107, 1);">Export</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="txnDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mw-100 w-75" role="document">
    <div class="modal-content">
      <div class="modal-header" id="modal-header" style="background-color: rgba(245,245,245,1);">
        <p class="modal-title" style="color: rgba(62, 78, 107, 1);" id="exampleModalLabel">
          Transaction Id : {{modalFeesData.transactionId}}
        </p>
        <p class="modal-title" style="color: rgba(62, 78, 107, 1);" id="exampleModalLabel">
          Date : {{modalFeesData.receivedDate | date: 'dd-MM-yyyy'}}
        </p>
        <p class="modal-title" style="color: rgba(62, 78, 107, 1);" id="exampleModalLabel">
          Account : {{modalFeesData.accountName}}
        </p>
        <p class="modal-title" style="color: rgba(62, 78, 107, 1);" id="exampleModalLabel">
          Amount : {{modalFeesData.amount}}
        </p>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="printContent">
        <table class="table table-bordered table-sm border-primary" style="color: rgba(62, 78, 107, 1);">
          <thead style="background-color: rgba(245,245,245,1);">
            <tr>
              <th>#</th>
              <th>Academic Year</th>
              <th>Fee Type</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feeDetail of modalFeesData['studentFeesPaidDetails']; let i = index">
              <td>{{i+1}}</td>
              <td>{{feeDetail.academicYear}}</td>
              <td>{{feeDetail.feeName}}</td>
              <td>{{feeDetail.amount | currency : 'INR'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>