<div class="card box-shadow">
  <div class="card-header">
    Academic Details
  </div>
  <div class="card-body">
    <!-- New record code starts here -->
    <div class="row container" style="padding:2%;">
      <div class="col-md-3">
        <div class="input-group-sm">
          <label for="usr">Academic Year</label>
          <input class="form-control custom-input-style" list="academic-years" placeholder="Select Academic Year">
          <datalist id="academic-years">
            <option *ngFor="let academic of academicList" value="{{academic.academicId}}">{{academic.academicYear}}
            </option>
          </datalist>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group-sm">
          <label for="usr">Class</label>
          <input class="form-control custom-input-style" list="classes-list" placeholder="Select Classes">
          <datalist id="classes-list">
            <option *ngFor="let classDet of classesList" value="{{classDet.classId}}">
          </datalist>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group-sm">
          <label for="usr">Subjects<small>(select multiple subjects)</small> </label>
          <input class="form-control custom-input-style" list="subjects" placeholder="Select Subjects" multiple="multiple">
          <datalist id="subjects">
            <option value="passed"> Paased</option>
            <option value="appeared">
            <option value="failed">
          </datalist>
        </div>
      </div>
      <div class="col-md-2" style="padding-top: 27px;">
        <button class="btn btn-outline-primary btn-sm" style="margin-right: 5px;"
          (click)="addNewAcadeicRecord(student)">Add Record</button>
      </div>
    </div>
    <!-- New record code ends here -->
    <div class="card" *ngFor="let academicId of academicYearKeys">
      <div class="card-header">
        {{academicId}}
      </div>
      <div class="card-body">
        <div class="row container" style="padding:2%;">
          <table class="table table-bordered table-sm">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Class</th>
                <th>Subjects</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let classDet of userAcademicDetails[academicId]['userClassSubjectsL']; let i = index">
                <td>{{i+1}}</td>
                <td>{{classDet.className}}</td>
                <td>
                  <button class="btn btn-sm" style="margin: 5px;"
                    *ngFor="let subject of classDet['subjects']; let i = index">
                    {{subject.subjectName}}
                    <span class="badge badge-light"><i class='far fa-times-circle' style='color:red'></i></span>
                  </button>
                  <!-- {{classDet.subjects[0].subjectName}} -->
                </td>
                <td>delete | update</td>
              </tr>
              <tr *ngIf="userAcademicDetails[academicId]['userClassSubjectsL'].length==0" style="color: red;">No Record Found</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p class="text-danger" *ngIf="academicYearKeys.length==0">No Record Found</p>
  </div>
</div>

<div class="row container card-body">
  <button class="btn btn-primary btn-md" style="margin-right: 5px;"
    (click)="saveDetails(user)">Save Details</button>
</div>