<div class="card box-shadow">
  <div class="card-header">
    Fee Id :
  </div>
  <!-- style="height: 600px; overflow-y: scroll;" -->
  <div class="card-body">
    <div class="row container" style="padding:2%;">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="input-group-sm">
          <label for="usr">
            Type of Fee <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
            <small style="color: red; font-size: smaller;" *ngIf="isFeeTypeEmpty">(Fee type can not be
              empty)</small>
          </label>
          <input type="text" class="form-control custom-input-style" placeholder="Fee Type"
            [(ngModel)]="feeType.feeName" (change)="validateFeeTypeDataOnChange()">
        </div>
      </div>
    </div>

    <div class="row container" style="padding:2%;">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="input-group-sm">
          <label for="usr">
            Description of Fee
          </label>
          <textarea class="form-control" style="border: 1px solid rgb(23, 162, 184);" placeholder="Fee Description"
            rows="3" [(ngModel)]="feeType.feeDiscription"></textarea>
        </div>
        <div class="my-5">
          <button class="btn btn-outline-primary btn-sm" style="margin-right: 5px;"
            (click)="saveFeeType(feeType)">Save</button>

          <button class="btn btn-outline-secondary btn-sm" style="margin-right: 5px;"
            (click)="saveDetails(student)">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>