<div class="card box-shadow">
  <div class="card-header">
    Role Details
  </div>
  <div class="card-body">
    <div class="row container" style="padding:2%;">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Role</th>
            <th>From Date</th>
            <th>To Date</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roleDet of userRolesDetails; let i = index">
            <td>{{i+1}}</td>
            <td>{{roleDet.roleName}}</td>
            <td>{{roleDet.effDate | date:'dd-MM-yyyy' }}</td>
            <td>{{roleDet.endDate | date:'dd-MM-yyyy'}}</td>
            <td>delete | update</td>
          </tr>
          <tr *ngIf="userRolesDetails.length==0" style="color: red;">No Record Found</tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row container card-body">
  <button class="btn btn-primary btn-md" style="margin-right: 5px;">Save Details</button>
</div>