<div class="card box-shadow" id="students-list">
  <div class="card-header">
    <span>Classes Configuration</span>
  </div>
  <div class="card-body table-responsive">
    <div class="row container" style="padding:2%;">
      <div class="col-md-3">
        <div class="input-group-sm">
          <label for="usr">
            Class Id <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
            <small style="color: red; font-size: x-small;" *ngIf="dataValidationFlags['classId']">(Field can not be empty)</small>
          </label>
          <input type="text" class="form-control custom-input-style" placeholder="Enter Class Id" 
          [(ngModel)]="newClassDetails['classId']" (change)="handleDataValidationFlag('classId',newClassDetails['classId'])">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group-sm">
          <label for="usr">
            Class Name <i class='fas fa-asterisk' style="color: red; font-size: xx-small"></i>
            <small style="color: red; font-size: x-small;" *ngIf="dataValidationFlags['className']">(Field can not be empty)</small>
          </label>
          <input type="text" class="form-control custom-input-style" placeholder="Enter Class Name" 
          [(ngModel)]="newClassDetails['className']" (change)="handleDataValidationFlag('className',newClassDetails['className'])">
        </div>
      </div>
      <div class="col-md-2" style="padding-top: 27px;">
        <button class="btn btn-outline-primary btn-sm" style="margin-right: 5px;"
          (click)="addNewClassDetails()">Add New Class</button>
      </div>
    </div>
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Class Id</th>
          <th>Class Name</th>
          <!-- <th>Amount</th>
          <th>Eff Date</th>
          <th>End Date</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of classes let i = index">
          <td>{{i+1}}</td>
          <td>
            {{class.classId}}
          </td>
          <td>
            {{class.className}}
          </td>
          <!-- <td>{{feeDetail.amount}}</td>
          <td>{{feeDetail.effDate | date : "yyyy-MM-dd"}}</td>
          <td>{{feeDetail.endDate | date : "yyyy-MM-dd"}}</td> -->
          <td>
            <a class="mx-1"><i class="fa fa-edit" style="color: rgb(23, 162, 184); cursor: pointer;"></i></a>  
            <a class="mx-1" (click)="configureClassDetails(class)"><i class="fa fa-cog"
              style="color: rgb(23, 162, 184); cursor: pointer;"></i></a> 
          </td>
        </tr>
        <tr class="text-danger" *ngIf="classes.length==0">No Record Found</tr>
      </tbody>
    </table>
  </div>
</div>
