*{
    font-size: small;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  }
  .box-shadow{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(23, 162, 184,.3);
   }
   .custom-input-style{
    border: 1px solid rgb(23, 162, 184);
    font-size: small;
    /* height: 30px; */
 }